.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 666;
  opacity: 0;
  transform: scale(0);
  background-color: rgba(#000, .7);

  &.show {
    transition: 
      transform .1s ease,
      opacity .2s .1s ease;

    transform: scale(1);
    opacity: 1;
  }

  &.hide {
    transition: 
      transform .1s .2s ease,
      opacity .2s ease;

    transform: scale(0);
    opacity: 0;
  }
}