
.fold {
  color: #999;
  font-size: 28px;
  line-height: 42px;
  overflow: hidden;
  position: relative;
  transition: height .2s ease;

  .btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
    color: #007cff;
    font-size: 28px;
    line-height: 42px;
    padding-left: 3%;
    font-style: normal;
    background-image: linear-gradient(to right, rgba(#fff, .3), #fff 20%);
  }
}